 <div class="user-details">
  <h1> My Expertise </h1>
  <p>
    Hello there, and welcome to my little corner!
    My name is João França and I'm a Data Scientist and sometimes a proud Software Engineer working on marvellous projects around the world.
    At the moment you can find me at <a href="https://www.talkdesk.com/">Talkdesk</a> taking part in a <a href="https://www.talkdesk.com/call-center-software/wem/workforce-management-wfm/">not so secret project</a> as an Engineering / Data Science Manager in the Coimbra <a href="https://talkdesk.com/tdx">TDX</a> office. 
  </p>
</div>
<div class="user">
  <div class="tech">
    <h2>Data Science</h2>
    <i class="devicon-python-plain colored"></i>
    <i class="devicon-bootstrap-plain-wordmark colored"></i>
    <i class="devicon-sass-original colored"></i>
    <i class="devicon-html5-plain-wordmark"></i>
    <i class="devicon-html5-plain-wordmark"></i>
    <i class="devicon-html5-plain-wordmark"></i>
    <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.</p>
  </div>
  <div class="tech">
    <h2>Software Craft</h2>
    <i class="devicon-django-plain colored"></i>
    <i class="devicon-nodejs-plain-wordmark colored"></i>
    <i class="devicon-mongodb-plain-wordmark colored"></i>
    <i class="devicon-redis-plain-wordmark colored"></i>
    <i class="devicon-postgresql-plain-wordmark colored"></i>
    <i class="devicon-docker-plain-wordmark colored"></i>
    <p>
      Despite having some experience in frontend, I'm definitely better armed for backend development and engineering.
    </p>
  </div>
  <div class="tech">
    <h2>Tools</h2>
    <i class="devicon-git-plain"></i>
    <i class="devicon-amazonwebservices-plain-wordmark colored"></i>
    <i class="devicon-atom-original-wordmark"></i>
    <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.</p>
  </div>
</div>